<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <meta property='og:url' content='http://256pixels.net'>
        <meta property='og:type' content='website'>
        <meta property='og:title' content='256 Pixels'>
        <meta property='og:description' content='Making games with just 256 pixels'>
        <meta property='og:image' content='http://256pixels.net/static/img/brand.png'>

        <title>256 Pixels</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">

        <!--STYLEBLOCK(style)-->
        <link rel='stylesheet' href='/static/css/style.css'>
        <!--ENDSTYLEBLOCK(style)-->

        <!--SCRIPTBLOCK(all)-->

        <!-- JQuery -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js'></script>

        <!-- Bootstrap -->
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js'></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
        <script src="https://cdn.jsdelivr.net/angularjs/1.4.5/angular-sanitize.js" data-semver="1.4.5"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js'></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>

        <!-- Ace -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-cobalt.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-javascript.js'></script>

        <!-- Esprima/escodegen/estraverse -->
        <script src="https://cdn.rawgit.com/jquery/esprima/2.6.0/esprima.js"></script>
        <script src="/static/js/escodegen.browser.js"></script>
        <script src="/static/js/estraverse.js"></script>

        <!-- Moment -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

        <!-- Stacktrace -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.6.4/stacktrace.js'></script>

        <!-- Q -->
        <script src='/static/js/Q.js'></script>

        <!-- Facebook -->
        <script src='/static/js/fb.js'></script>

        <!-- My stuff -->
        <script src='/static/js/MainApp.js'></script>
        <script src='/static/js/Util.js'></script>
        <script src='/static/js/Draw.js'></script>
        <script src='/static/js/Status.js'></script>
        <script src="/static/js/wrapper.js"></script>

        <script src='/static/js/Ajax.js'></script>
        <script src='/static/js/Dialog.js'></script>
        <script src='/static/js/User.js'></script>
        <script src='/static/js/GameList.js'></script>
        <script src='/static/js/Game.js'></script>
        <script src='/static/js/Stateful.js'></script>
        <script src='/static/js/Routes.js'></script>
        <script src='/static/js/Highlighter.js'></script>

        <script src='/static/js/MainController.js'></script>
        <script src='/static/js/HelpController.js'></script>
        <script src='/static/js/HomeController.js'></script>
        <script src='/static/js/GameListController.js'></script>
        <script src='/static/js/PlayerController.js'></script>
        <script src='/static/js/EditorController.js'></script>
        <script src='/static/js/ModalInstanceControllers.js'></script>

        <!--ENDSCRIPTBLOCK(all)-->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-67259053-1', 'auto');
          ga('send', 'pageview');
        </script>

        <base href='/'>
    </head>
    <body ng-app='mainApp' ng-controller='MainController' ng-strict-di>

        <!-- backdrop -->
        <div class='backdropper'>
        </div>

        <div ng-cloak>

            <!-- main -->
            <div id='mainview' ng-view>
            </div>

            <!-- sidebar -->
            <div id='mainsidebar' class='centered player' ng-controller='PlayerController'>
                <div style='z-index: 2'>
                    <input name='title'
                            id='game_title'
                            ng-model='game.game_title'
                            ng-disabled='!canEditInstructions()'
                            ng-class='titleEditorClass()'
                            highlight ng-change='checkText()'
                            ng-keydown='filterkeys($event)' />
                    <div id='byline'>&nbsp;{{by(game)}}&nbsp;</div>
                    <iframe id='gameFrame' tabindex='1' sandbox='allow-scripts' src='//256pixels.net/static/html/frame.html'></iframe>
                    <div class='controls'>
                        <textarea ng-keydown='filterkeys($event)' ng-change='checkText()' rows='5' ng-disabled='!canEditInstructions()' ng-model='game.game_instructions' ng-class='instructionsEditorClass()' highlight name='instructions'>
                        </textarea>
                        <div class='shareblock'>
                            <div id='ratingBlock'>
                                <span ng-mouseleave='resetHover(game)' class='linky'>
                                    <i ng-repeat='i in [1,2,3,4,5]' ng-mouseover='rateHover(i, game)' ng-click='rateClick(i, game)' class='{{rating(i, game)}}'></i>
                                </span>
                            </div>
                            <div>
                                <a href='' ng-click='shareIt(game)' class='share share-facebook'><i>!</i></a>
                                <a href='' ng-click='shareTwitter(game)' class='share share-twitter'><i>!</i></a>
                            </div>
                        </div>
                        <div class='btn-group' role='group'>
                            <button type='button' class='btn btn-default' id='restartButton' ng-click='restart()'><i class='fa fa-lg fa-fast-backward'></i></button>
                            <button type='button' class='btn btn-default' id='pauseButton' ng-click='pause()'><i id='play' class='fa fa-lg fa-pause'></i></button>
                            <button type='button' class='btn btn-default' id='stepButton' ng-click='step()'><i class='fa fa-lg fa-step-forward'></i></button>
                        </div>
                        <div id='framerateButton'>
                            <div class='form-group'>
                                <button class='btn btn-default' ng-disabled='!canEditInstructions()' ng-click='takeScreenShot()'><i class='fa fa-lg fa-camera'></i></button>
                                &nbsp;
                                <div class="btn-group">
                                    <button type="button" name='speedButton' class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover='dropdown' ng-disabled='!canEditInstructions()'>
                                        {{frameratenames[game.game_framerate]}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" ng-disabled='!canEditInstructions()'>
                                        <li ng-repeat="f in frameratenames"><a style='cursor: pointer;' ng-click='setFramerate($index);'>{{f.toString()}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style='z-index: 1; position: absolute; right: 0; background: #EEE; overflow: hidden;'>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-8644367080783637" data-ad-slot="5952804307"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>

            </div>
        </div>

        <!-- footer -->
        <div id='mainfooter' class='row'>
            <span id='networkIndicator'><i id='spinner' ng-class='[ "fa", { "fa-spinner fa-pulse": status.isBusy() }, {"fa-check": !status.isBusy() } ]'></i>&nbsp;</span>
            <span id='statusBar' ng-class='{ "statusError": status.isError() }'>{{status.getText()}}</span>
        </div>

        <!-- header -->
        <div id='mainheader'>

<div class="row">
    <div class="col-lg-12">
        <nav class="navbar navbar-default" role="navigation" style='z-index:1000'>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbarInfo"> <span class="sr-only"> Toggle navigation </span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img width='48' height='48' src='/static/img/brand.png'/></a>
                </div>
                <!-- Begin Navbar items -->
                <div class="collapse navbar-collapse" id="mainNavbarInfo">
                    <ul class="nav navbar-nav">
                        <li id='navgames'><a href="/list"><span class="fa fa-list"></span> Games</a></li>
                        <li id='navgames'><a href='#' ng-click='newGame()'><span class="fa fa-plus-circle"></span> New Game</a></li>
                        <li id='navhelp'><a href="/help"><span class="fa fa-question"></span> Help </a></li>
                    </ul>
                    <ul class='nav navbar-nav navbar-right'>
                        <li>
                            <form class='navbar-form navbar-right nomargin'>
                                <div class='form-group'>
                                    <span class='navbar-text'>{{usernameMessage}}</span>
                                    <button ng-show='showProfileButton' ng-click='editProfile()' class='btn btn-xs btn-warning navbar-btn btn-sm'>Profile</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-xs navbar-btn btn-sm btn-primary" ng-click='toggleLogin()'>{{signInMessage}}&nbsp;
                                        <i class='{{signInClass}}'></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--             <nav class="navbar navbar-default navbar-fixed-top" role='navigation' id='navbar'>
                <div class='navbar-inner'>
                    <div class='container-fluid'>
                        <a class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a id='homelink' class="navbar-brand" href="/"><i class='fa fa-home'></i>&nbsp;&nbsp;256 Pixels</a>

                        <div id="navbar" class="nav-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id='navgames' class='active'><a href="/list">Games</a></li>
                                <li id='navhelp'><a href="/help">Help</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
 -->
    </body>
</html>