<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <meta property='og:url' content='http://256pixels.net'>
        <meta property='og:type' content='website'>
        <meta property='og:title' content='256 Pixels'>
        <meta property='og:description' content='Making games with just 256 pixels'>
        <meta property='og:image' content='http://256pixels.net/static/img/brand.png'>

        <title>8x8x8</title>

        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!--STYLEBLOCK(style)-->
        <link rel='stylesheet' href='/static/css/style.css'>
        <!--ENDSTYLEBLOCK(style)-->

        <!-- JQuery -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>

        <!-- Bootstrap -->
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js'></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.min.js"></script>

        <!--SCRIPTBLOCK(all)-->

        <!-- Ace -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-cobalt.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-javascript.js'></script>

        <!-- Moment -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

        <!-- Stacktrace -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.6.4/stacktrace.js'></script>

        <!-- Q -->
        <script src='/static/js/Q.js'></script>

        <!-- Google Analytics -->
        <script src='/static/js/ga.js'></script>

        <!-- Facebook -->
        <script src='/static/js/fb.js'></script>

        <!-- My stuff -->
        <script src='/static/js/MainApp.js'></script>
        <script src='/static/js/Util.js'></script>
        <script src='/static/js/Draw.js'></script>
        <script src='/static/js/Status.js'></script>

        <script src='/static/js/Cookie.js'></script>
        <script src='/static/js/Ajax.js'></script>
        <script src='/static/js/Dialog.js'></script>
        <script src='/static/js/User.js'></script>
        <script src='/static/js/GameList.js'></script>
        <script src='/static/js/Game.js'></script>
        <script src='/static/js/Stateful.js'></script>
        <script src='/static/js/Routes.js'></script>
        <script src='/static/js/Highlighter.js'></script>

        <script src='/static/js/MainController.js'></script>
        <script src='/static/js/HelpController.js'></script>
        <script src='/static/js/HomeController.js'></script>
        <script src='/static/js/GameListController.js'></script>
        <script src='/static/js/PlayerController.js'></script>
        <script src='/static/js/EditorController.js'></script>
        <script src='/static/js/ModalInstanceControllers.js'></script>

        <!--ENDSCRIPTBLOCK(all)-->

        <base href='/'>
    </head>
    <body ng-app='mainApp' ng-controller='MainController' ng-strict-di>

        <!-- backdrop -->
        <div class='backdropper'>
        </div>

        <!-- main -->
        <div id='mainview' ng-view>
        </div>

        <!-- siderbar -->
        <div id='mainsidebar' class='centered player' ng-controller='PlayerController'>
            <input name='title'
                    id='game_title'
                    ng-model='game.game_title'
                    ng-disabled='!canEditInstructions()'
                    ng-class='titleEditorClass()'
                    highlight ng-change='checkText()'
                    ng-keydown='filterkeys($event)' />
            <div id='byline'>&nbsp;{{by(game)}}&nbsp;</div>
            <iframe id='gameFrame' sandbox='allow-scripts allow-same-origin' src='/static/html/frame.html'></iframe>
            <div class='controls'>
                <textarea ng-keydown='filterkeys($event)' ng-change='checkText()' rows='5' ng-disabled='!canEditInstructions()' ng-model='game.game_instructions' ng-class='instructionsEditorClass()' highlight name='instructions'>
                </textarea>
                <div ng-show='showRating(game)' class='shareblock'>
                    <div id='ratingBlock'>
                        <span ng-mouseleave='resetHover(game)' class='linky'>
                            <i ng-repeat='i in [1,2,3,4,5]' ng-mouseover='rateHover(i, game)' ng-click='rateClick(i, game)' class='{{rating(i, game)}}'></i>
                        </span>
                    </div>
                    <div id='social'>
                        <a ng-disabled='!canShare(game)' ng-click='canShare(game) && shareIt(game)'><i ng-disabled='!canShare(game)' class="fa fa-2x fa-facebook-square"></i></a>
                        <a ng-disabled='!canShare(game)' ng-click='canShare(game) && shareTwitter(game)'><i ng-disabled='!canShare(game)' class="fa fa-2x fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class='btn-group' role='group' aria-label='...' ng-show='canEditInstructions()'>
                    <button type='button' class='btn btn-default' id='restartButton' ng-click='restart()'><i class='fa fa-lg fa-fast-backward'></i></button>
                    <button type='button' class='btn btn-default' id='pauseButton' ng-click='pause()'><i id='play' class='fa fa-lg fa-pause'></i></button>
                    <button type='button' class='btn btn-default' id='stepButton' ng-click='step()'><i class='fa fa-lg fa-step-forward'></i></button>
                </div>
                <div ng-show='canEditInstructions()'>
                    <div id='framerateButton'>
                        <div class='form-group'>
                        <button class='btn btn-default' ng-disabled='!myGame(game)' ng-click='takeScreenShot()'><i class='fa fa-lg fa-camera'></i></button>
                            &nbsp;
                            <div class="btn-group">
                                <button type="button" name='speedButton' class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover='dropdown'>
                                    {{frameratenames[game.game_framerate]}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="f in frameratenames"><a style='cursor: pointer;' ng-click='setFramerate($index);'>{{f.toString()}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div id='mainfooter' class='row'>
            <span id='networkIndicator'><i id='spinner' ng-class='[ "fa", { "fa-refresh fa-spin": status.isBusy() }, {"fa-check": !status.isBusy() } ]'></i>&nbsp;</span>
            <span id='statusBar' ng-class='{ "statusError": status.isError() }'>{{status.getText()}}</span>
        </div>

        <!-- header -->
        <div id='mainheader'>
            <nav class="navbar navbar-default navbar-fixed-top" role='navigation' id='navbar'>
                <div class='container-fluid'>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id='homelink' class="navbar-brand" href="/"><i class='fa fa-home'></i>&nbsp;&nbsp;256 Pixels</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li id='navgames' class='active'><a href="/list">Games</a></li>
                            <li id='navhelp'><a href="/help">Help</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class='navbar-form navbar-right nomargin'>
                                    <div class='form-group'>
                                        <span class='navbar-text'>{{usernameMessage}}</span>
                                        <button ng-show='showProfileButton' class='btn btn-xs btn-warning navbar-btn btn-sm'>Profile</button>
                                        &nbsp;
                                        <button type="button" class="btn btn-xs navbar-btn btn-sm btn-primary" ng-click='toggleLogin()'>{{signInMessage}}&nbsp;
                                            <i class='{{signInClass}}'></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </body>
</html>