$def with (game)
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta property="og:url"         content="http://256pixels.net/play/$game['game_id']" />
        <meta property="og:title"       content="$game['game_title']">
        <meta property="og:description" content="$game['game_instructions']">
        <meta property="og:site_name"   content="256 Pixels">
        <meta property="og:image"       content="http://256pixels.net/screen/$game['game_id']">
        <meta property="fb:app_id"      content="1709552502606692">

        <style>
            body {
                margin: 16px;
                text-align: center;
                overflow: hidden;
                font: 20px sans-serif;
                font-weight: bolder;
            }
            .instructions {
                margin-top: 40px;
                font: 18px sans-serif;
                font-weight: lighter;
            }
        </style>
        <script id='settings' type='text/template'>
            { "framedelay": $:game['game_framerate'] }
        </script>

    </head>
    <body>
        $game['game_title']<br><br>
        <canvas id='canvas' width='256px' height='256px'></canvas>
        <div class='instructions'>
        $game['game_instructions']
        </div>
        <script type='text/javascript'>
            function ClientScript() {
                "use strict";
$:game['game_source']
                this.updateFunction = (typeof update === "function") ? update : null;
            };
        </script>
        <script src='/static/js/8x8.js'></script>
    </body>
</html>
