body {
    background: #EEE;
}

#gameFrame {
    border: none;
    height: 140px;
    width: 140px;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#editor {
    height: 80vh;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
}

#game {
    text-align: center;
}

.first-row {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 5vh;
}

.higher {
    height: 80vh;
}

#gap {
    line-height: 0.5em;
}

#console {
    color: red;
    font-weight: bolder;
    margin-top: 4px;
}

body .modal .modal-dialog {
  width: 25%; /* desired relative width */
}

.titlebar {
}

.closefile {
    background: red;
    color: white;
}