html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    min-width: 710px;
}

#gameFrame {
    border: none;
    height: 140px;
    width: 140px;
    margin-top: 20px;
}

.centered {
    text-align: center;
}

#editor {
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    height: 400px;
}

#mainPane {
}

body .modal .modal-dialog {
  width: 25%;
}

#buttonActivity {
    box-shadow: 0px 0px 30px 15px #FFF;
}

.masked {
    display: none;
}

#titleBar {
    padding: 5px;
    margin: 0;
}

.close.closeButton {
    color: white;
    opacity: 1;
}

.pane {
    border: 1px solid black;
    background: white;
}

.content {
    min-height: 100%;
    position: relative;
    overflow: auto;
    z-index: 0; 
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.top_block {
    width: 100%;
    display: block; 
}

.bottom_block {
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0; 
    border-top: 1px solid black;
}

.left_block {
    display: block;
    float: left; 
}

.right_block {
    display: block;
    float: right; 
}

.center_block {
    display: block;
    width: auto; 
}

.banner {
    width: 100%;
    height: 70px;
    padding: 16px;
    border-bottom: 1px solid black;
}

.background.leftPane {
    height: auto !important;
    padding-bottom: 0;
    left: 0;
    width: 80%;
    margin-top: 70px; 
}

.leftPane {
    height: auto;
    width: 80%;
    padding-bottom: 0px;
}

.titleBar {
    width: 100%;
    height: 32px;
}

.toolBar {
    width: 100%;
    height: 40px;
    padding-top: 4px;
}

.statusBar {
    width: 80%;
    height: 40px;
    color: green;
    font-weight: bolder;
    padding: 8px;
}

.statusBar.statusError {
    color: red;
}

.background.rightPane {
    height: auto !important;
    padding-bottom: 0;
    left: 0;
    right: 0;
    margin-top: 70px;
    margin-left: 80%; 
    border-left: 1px solid black;
}

.rightPane {
    width: auto;
    height: auto;
    padding-bottom: 0px;
}


table.table {
    table-layout: fixed;
}

.clickable {
    cursor: pointer;
    background-color: #F5F5F5;
    overflow: hidden;
}

.clickable:hover {
    background-color: #E8E8E8;
    overflow: hidden;
}

.clickable[aria-expanded="true"] {
    background-color: #dff0d8;
    overflow: hidden;
}

.clickable[aria-expanded="true"]:hover {
    background-color: #d8e8d0;
}

.table.outer >tbody >tr >td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-left: 1px LightGrey solid;
    border-right: 1px LightGrey solid;
    overflow: hidden;
}

.table.outer >tbody >tr.hid > td {
    padding: 0;
}

.table.outer >tbody >tr.clickable:not(:last-child)  {
    border-bottom: 1px LightGrey solid;
}

.tableContainer {
    background: white;
    border-bottom: 1px LightGrey solid;
}

.table.inner {
    width: auto;
}

.table.inner >tbody >tr >td {
    border: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    font-size: small;
}

.table.inner >tbody >tr:first-child >td {
    padding-top: 6px;
}

.table.inner >tbody >tr:first-child >td.butter {
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

.table.inner >tbody >tr:last-child >td {
    padding-bottom: 8px;
}

.table {
    margin-bottom: 0px;
}

.gly-spin {
    -webkit-animation:  spin 0.5s infinite linear;
    -moz-animation:     spin 0.5s infinite linear;
    -o-animation:       spin 0.5s infinite linear;
    animation:          spin 0.5s infinite linear;
}
@-moz-keyframes     spin {  000% { -moz-transform: rotate(000deg); }
                            100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes  spin {  000% { -webkit-transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes       spin {  000% { -o-transform: rotate(000deg); }
                            100% { -o-transform: rotate(359deg); } }

@keyframes          spin {  000% { -webkit-transform: rotate(000deg); transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
