html, body {
    margin: 0;
    min-width: 740px;
}

#gameFrame {
    border: none;
    height: 140px;
    width: 140px;
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.mainmenu {
    padding-top: 10px;
}

#editor {
    margin: 0;
    padding: 0;
    height: 200px;
}

#mainPane {
}

.errorLine {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

body .modal .modal-dialog {
  width: 25%;
}

#buttonActivity {
    box-shadow: 0px 0px 30px 15px #FFF;
}

.masked {
    display: none;
}

.toolbar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.whitestar {
    color: #CCC;
}

.statusError {
    color: red;
    font-weight: bold;
}

.yellowstar {
    color: #FC0;
}

.close.closeButton {
    color: white;
    opacity: 1;
}

.pane {
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

table.table {
    table-layout: fixed;
}

.clickable {
    cursor: pointer;
    background-color: #F5F5F5;
    overflow: hidden;
}

.clickable:hover {
    background-color: #E8E8E8;
    overflow: hidden;
}

.clickable[aria-expanded="true"] {
    background-color: #dff0d8;
    overflow: hidden;
}

.clickable[aria-expanded="true"]:hover {
    background-color: #d8e8d0;
}

.table.outer >tbody >tr >td {
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    overflow: hidden;
}

.table.outer >tbody >tr.hid > td {
    padding: 0;
}

.table.outer >tbody >tr.clickable:not(:last-child)  {
    border-bottom: 1px LightGrey solid;
}

.table>thead>tr>th{
    border-bottom: 1px LightGrey solid;
}

.tableContainer {
    border-bottom: 1px LightGrey solid;
}

.table.inner {
    width: auto;
}

.table.inner >tbody >tr >td {
    border: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    font-size: small;
}

.table.inner >tbody >tr:first-child >td {
    padding-top: 6px;
}

.table.inner >tbody >tr:first-child >td.butter {
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

.table.inner >tbody >tr:last-child >td {
    padding-bottom: 8px;
}

.table {
    margin-bottom: 0px;
}

pre {
    background: white;
    color: DarkRed;
    overflow-x: auto;
    white-space: nowrap;
}

/* GRID LAYOUT */

.grid_row, .grid_col {
    overflow: hidden;
    position: absolute;
}

.grid_row {
    left: 0;
    right: 0;
}
.grid_col {
    top: 0;
    bottom: 0;
    border-right: 1px solid black;
}
.grid_scroll-x {
    overflow-x: auto;
}
.grid_scroll-y {
    overflow-y: auto;
}

.grid_header.grid_row {
    height: 50px;
    top: 0;
    border-bottom: 1px solid black;
}

.grid_editorheader.grid_row {
    top: 50px;
    height: 40px;
}

.grid_body.grid_row {
    top: 50px;
    bottom: 50px;
}

.grid_helpbody.grid_row {
    padding-left: 15px;
    padding-right: 15px;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
}

#titleBar {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 18px;
}

.grid_editorbody.grid_row {
    top: 90px;
    bottom: 0;
    border-top: 1px solid black;
}
.grid_footer.grid_row {
    height: 50px;
    bottom: 0;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
}
.grid_left.grid_col {
    width: 80%;
}
.grid_right.grid_col {
    right: 0;
    width: 20%;
}
.gly-spin {
    -webkit-animation:  spin 0.5s infinite linear;
    -moz-animation:     spin 0.5s infinite linear;
    -o-animation:       spin 0.5s infinite linear;
    animation:          spin 0.5s infinite linear;
}
@-moz-keyframes     spin {  000% { -moz-transform: rotate(000deg); }
                            100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes  spin {  000% { -webkit-transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes       spin {  000% { -o-transform: rotate(000deg); }
                            100% { -o-transform: rotate(359deg); } }

@keyframes          spin {  000% { -webkit-transform: rotate(000deg); transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

