<div class="modal-header">
    <button type="button" class="close" ng-click='cancel()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{options.banner}}</h4>
</div>
<div class="modal-body">
    {{options.text}}
</div>
<div class="modal-footer">
    <button class="btn {{options.okclass}}" type="button" ng-click="ok()">{{options.oktext}}</button>
    <button class="btn {{options.cancelclass}}" type="button" ng-click="cancel()">{{options.canceltext}}</button>
</div>
