                    <!-- HELP -->
                    <div class='masked pane' id='helpPane' >
                        <div class='grid_row grid_helpbody'>
                            <div class='container-fluid grid_scroll-y'>
                                <div class='row'>
                                    <div class='col-md-8'>
                                        <span><h2>Documentation</h2></span>
                                    </div>
                                    <div class='col-md-4'>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='container-fluid'>
                                        <div class='col-md10'>
                                            8x8x8 Games are played on an 8x8 grid of pixels and can display 8 colors.<br>
                                            The coordinates start at (0,0) in the top left and go to (7,7) in the bottom right.<br>
                                            The keys which can be used are: 'up', 'down', 'left', 'right' and 'space'.<br>
                                            The colors available are:<p>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #000; border: 1px solid black;'></div><div class='col-md-2'>0 - Black</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #F00; border: 1px solid black;'></div><div class='col-md-2'>1 - Red</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #0F0; border: 1px solid black;'></div><div class='col-md-2'>2 - Green</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #FF0; border: 1px solid black;'></div><div class='col-md-2'>3 - Yellow</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #00F; border: 1px solid black;'></div><div class='col-md-2'>4 - Blue</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #F0F; border: 1px solid black;'></div><div class='col-md-2'>5 - Magenta</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #0FF; border: 1px solid black;'></div><div class='col-md-2'>6 - Cyan</div></div>
                                            <div class='row'><div class='col-md-1 col-md-offset-1' style='height: 1.25em;  width: 1em; background: #FFF; border: 1px solid black;'></div><div class='col-md-2'>7 - White</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                        <br>
                                </div>
                                <div class='row'>
                                    <div class='col-md-8'>
                                        <strong>Functions:</strong><br><br>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>set(x, y, color)</strong></div>
                                        <div class='col-md-9'>
                                            Set the pixel at x,y to color.<br><br>
                                            <i>This will set the top left pixel to the color cyan</i>
                                            <pre>set(0, 0, 6);</pre></p>
                                        </div>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>clear(color)</strong></div>
                                        <div class='col-md-9'>Set all the pixels to color.<br><br>
                                            <i>This will clear all the pixels to black</i>
                                            <pre>clear(0);</pre></p>
                                        </div>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>pressed(key)</strong></div>
                                        <div class='col-md-9'>Check if key was just pressed.<br><br>
                                            <i>This will check if the space bar was pressed since the last frame</i>
                                            <pre>if(pressed('space')) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;// ...<br>
}</pre></p>
                                        </div>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>released(key)</strong></div>
                                        <div class='col-md-9'>Check if key was just released.<br><br>
                                            <i>This will check if the left key was released since the last frame</i>
                                            <pre>if(released('left')) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;// ...<br>
}</pre></p>
                                        </div>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>held(key)</strong></div>
                                        <div class='col-md-9'>Check if key is currently held down.<br><br>
                                            <i>This will check if the up key is being pressed</i>
                                            <pre>if(held('up')) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;// ...<br>
}</pre></p>
                                        </div>
                                    </div>
                                </div>
                                <div class='well'>
                                    <div class='row'>
                                        <div class='col-md-2'><strong>update(frame)</strong></div>
                                        <div class='col-md-9'>You provide this function, it will be called repeatedly about 60 times every second. The parameter 'frame' is increased by 1 each time the function is called.<br><br>
                                            <i>This is a very simple game</i>
                                            <pre>var x, y, c;<br>

x = 0;<br>
y = 0;<br>
c = 1;<br>
clear(0);   // code outside functions is run once when game starts<br>
<br>
function&nbsp;update(frame)&nbsp;{<br>
&nbsp; &nbsp; if(held('right'))&nbsp;{<br>
&nbsp; &nbsp; &nbsp; &nbsp; x&nbsp;=&nbsp;x&nbsp;+&nbsp;1;<br>
&nbsp; &nbsp; &nbsp; &nbsp; if(x&nbsp;===&nbsp;8)&nbsp;{<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; clear(0);<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; x&nbsp;=&nbsp;0;<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; y&nbsp;=&nbsp;y&nbsp;+&nbsp;1;<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if(y&nbsp;===&nbsp;8)&nbsp;{<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; y&nbsp;=&nbsp;0;<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br>
&nbsp; &nbsp; &nbsp; &nbsp; }<br>
&nbsp; &nbsp; }<br>
&nbsp; &nbsp; if(pressed('space'))&nbsp;{<br>
&nbsp; &nbsp; &nbsp; &nbsp; c&nbsp;=&nbsp;c&nbsp;+&nbsp;1;<br>
&nbsp; &nbsp; &nbsp; &nbsp; if(c&nbsp;===&nbsp;8)&nbsp;{<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; c&nbsp;=&nbsp;1;<br>
&nbsp; &nbsp; &nbsp; &nbsp; }<br>
&nbsp; &nbsp; }<br>
&nbsp; &nbsp; set(x,&nbsp;y,&nbsp;c);<br>
}</pre></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
