<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>8x8x8</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/ga.js" defer></script>
        <script src="/static/game.js" defer></script>
    </head>
    <body>
        <!-- LOGIN MODAL DIALOG -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='loginModal'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sign in or register</h4>
                    </div>
                    <form id="loginForm" name="loginForm" onSubmit='return handleLogin()' method='none'>
                        <div class="modal-body">
                            <div class='well'>
                                <div class='form-group'>
                                    <label for='email'>Email</label>
                                    <input type='email' name="email" class='form-control' id='emailInput' required />
                                <div class='form-group'>
                                </div>
                                    <label for='passwordInput'>Password</label>
                                    <input type='password' name='password' class='form-control' id='passwordInput' minlength='6' required />
                                </div>
                            </div>
                            <div id='loginMessage' hidden='hidden'>
                                Incorrect password. Forgotten it? <button type='button' class='btn btn-xs btn-primary'>Reset it</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="signInSubmit" value="Sign in/Register" class="btn btn-sm btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- TOP ROW (HELP/SIGN IN etc) -->
            <div class="top_block banner">
                <div class="content">
                    <a href="#" onClick="showPane('helpPane')" class="btn btn-sm btn-default">Help</a>
                    <div class='pull-right'>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" onClick="showLogin()" id="loginButton">Sign in/Register</button>
                    </div>
                </div>
            </div>
            <div class="background leftPane">
            </div>
            <div class="left_block leftPane">
                <div class="content" id='mainPane'>
                    <div class="top_block titleBar">
                        <div class="content">
                            <div id='titleBar'>
                                &nbsp;<span id="paneTitle">Editor</span>
                                <button class='close closeButton' id="closeButton" onclick='popPane();'><span aria-hidden='true'>&times;</span>&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <div class="top_block toolBar">
                        <div class="content">
                            <div class='col-xs-4'>
                                <input id='gameName' type='text' class='form-control input-sm' value='Snake' maxlength="32" />
                            </div>
                            <div class='col-xs-4'>
                                <button title='Ctrl-R' class='btn btn-sm btn-success' onclick='runit();'>Run &nbsp;<i class='glyphicon glyphicon-play'></i></button>
                                <button title='Ctrl-S' class='btn btn-sm btn-primary' onclick='saveit();' id="saveButton">Save &nbsp;<i class='glyphicon glyphicon-floppy-disk'></i></button>
                            </div>
                        </div>
                    </div>
                    <div class='masked content' id='helpPane' >
                        HELP!?
                    </div>

                    <div class='masked content' id='gameList' >
                        CAN U SEE THIS?
                    </div>

                    <div class='content' id='editorPane'>
                        <div id='editor' tabindex='1'></div>
                    </div>
                </div>
            </div>
            <div class="background rightPane">
                <div class="content centered">
                    <iframe id='gameFrame' sandbox='allow-scripts allow-same-origin' src='/static/frame.html'>
                    </iframe>
                </div>
            </div>
            <div class="bottom_block statusBar">
                <div class="content" id="statusBar">
                    This is the console
                </div>
            </div>
        </div>
    </body>
</html>
