<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>8x8x8</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/ga.js" defer></script>
        <script src="/static/game.js" defer></script>
    </head>
    <body>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sign in or register</h4>
                    </div>
                    <form id="loginForm" name="loginForm" method="post" action='login.php'>
                        <div class="modal-body">
                            <div class='well'>
                                <div class='form-group'>
                                    <label for='emailInput'>Email</label>
                                    <input type='email' name="emailInput" class='form-control' id='usernameInput' required />
                                <div class='form-group'>
                                </div>
                                    <label for='passwordInput'>Password</label>
                                    <input type='password' class='form-control' id='passwordInput' minlength='6' required />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="signInSubmit" value="Sign in/Register" class="btn btn-sm btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id='main'>
            <div class='container-fluid'>
                <div class='row first-row'>
                    <div class='col-md-8'>
                        <button class='btn btn-sm btn-primary' onclick='runit();'>Run (ctrl-r)</button>
                        <button class='btn btn-sm btn-primary' onclick='saveit();'>Save (ctrl-s)</button>
                        <div class='pull-right'>
                            <a href="help.html" target="_blank" class="btn btn-sm btn-default">Help</a>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign in/Register</button>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        &nbsp;
                    </div>
                </div>
                <div class='row second-row' id='editorPane'>
                    <div class='col-md-8 higher'>
                        <div id='editor' tabindex='1'></div>
                    </div>
                    <div class='col-md-4' id='game'>
                        <iframe id='gameFrame' sandbox='allow-scripts allow-same-origin' src='/static/frame.html'>
                        </iframe>
                    </div>
                </div>
                <div class='row third-row'>
                    <div class='col-md-8' id='console'>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
