<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>8x8x8</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="/static/Q.js"></script>
        <script src="/static/ga.js" defer></script>
        <script src="/static/game.js" defer></script>
    </head>
    <body>
        <!-- CHOICE MODAL DIALOG -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='choiceModal'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="choiceLabel">Make your choice</h4>
                    </div>
                    <div class="modal-body">
                        <div id='choiceText'>
                            What is your choice?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="choiceNo" class="btn btn-sm btn-default" data-dismiss="modal" onClick='makeChoice(false)'>No</button>
                        <button type="button" id="choiceYes" class="btn btn-sm btn-primary"  data-dismiss="modal" onClick='makeChoice(true)'>Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOGIN MODAL DIALOG -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='loginModal'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
                    </div>
                    <form id="loginForm" name="loginForm" onSubmit='return handleLogin()' method='none'>
                        <div class="modal-body">
                            <div class='well'>
                                <div class='form-group'>
                                    <label for='email'>Email</label>
                                    <input type='email' name="email" class='form-control' id='emailInput' required />
                                </div>
                                <div class='form-group'>
                                    <label for='passwordInput'>Password</label>
                                    <input type='password' name='password' class='form-control' id='passwordInput' minlength='6' required />
                                </div>
                            </div>
                            <div id='loginMessage' hidden='hidden'>
                                Incorrect password. Forgotten it? <button type='button' class='btn btn-xs btn-primary'>Reset it</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="registerSubmit" class="btn btn-sm btn-success pull-left" onclick="showRegistration()">New user? Register</button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="signInSubmit" value="Sign in" class="btn btn-sm btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER MODAL DIALOG -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='registerModal'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Register</h4>
                    </div>
                    <form id="registerForm" name="registerForm" onSubmit='return handleRegister()' method='none'>
                        <div class="modal-body">
                            <div class='well'>
                                <div class='form-group'>
                                    <label for='username'>Username</label>
                                    <input type='text' name="username" class='form-control' id='usernameInput' required />
                                </div>
                                <div class='form-group'>
                                    <label for='email'>Email</label>
                                    <input type='email' name="email" class='form-control' id='emailRegisterInput' required />
                                </div>
                                <div class='form-group'>
                                    <label for='passwordInput'>Password</label>
                                    <input type='password' name='password' class='form-control' id='passwordRegisterInput' minlength='6' required />
                                </div>
                                <div class='form-group'>
                                    <label for='passwordInput'>Confirm Password</label>
                                    <input type='password' name='passwordConfirm' class='form-control' id='passwordConfirmInput' minlength='6' data-rule-required='true' data-rule-equalto="#passwordRegisterInput"/>
                                </div>
                            </div>
                            <div id='registerMessage' hidden='hidden'>
                                ...
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="registerSubmit" value="Register" class="btn btn-sm btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- TOP ROW (HELP/SIGN IN etc) -->
            <div class="top_block banner">
                <div class="content container-fluid">
                    <div class='col-md-2'><h4><i>8x8x8</i></h4></div>
                    <div class='col-md-4'><a href="#" onClick="showPane('helpPane')" class="btn btn-sm btn-default">Help</a></div>
                    <div class='pull-right'>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" onClick="showLogin()" id="loginButton">Sign in/Register</button>
                    </div>
                </div>
            </div>
            <div class="background leftPane">
            </div>
            <div class="left_block leftPane">
                <div class="content" id='mainPane'>
                    <!-- TITLEBAR -->
                    <div class="top_block titleBar">
                        <div class="content">
                            <div id='titleBar' class='bg-primary'>
                                &nbsp;<span id="paneTitle">Editor</span>
                                <button class='masked close closeButton' id="closeButton" onclick='popPane();'><span aria-hidden='true'>&times;</span>&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <!-- EDITOR -->
                    <div class="masked content" id='editorPane'>
                        <div class="top_block toolBar">
                            <div class='col-xs-4'>
                                <input id='gameName' type='text' class='form-control input-sm' value='Snake' maxlength="32" />
                            </div>
                            <div class='col-xs-4'>
                                <button title='Ctrl-R' class='btn btn-sm btn-success' onclick='runit();'>Run &nbsp;<i class='glyphicon glyphicon-play'></i></button>
                                <button title='Ctrl-S' class='btn btn-sm btn-primary' onclick='saveit();' id="saveButton">Save &nbsp;<i class='glyphicon glyphicon-floppy-disk'></i></button>
                            </div>
                        </div>
                        <div id='editor' tabindex='1'></div>
                    </div>
                    <!-- HELP -->
                    <div class='masked content' id='helpPane' >
                        <div class='container-fluid'>
                            <div class='row'>
                                <div class='col-md-8'>
                                    <span><h2>8x8x8 - Documentation</h2></span>
                                </div>
                                <div class='col-md-4'>
                                    &nbsp;
                                </div>
                            </div>
                            <div class='well'>
                                <div class='row'>
                                        &nbsp;
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>set(x, y, color)</strong></div>
                                    <div class='col-md-6'>Set the pixel at x,y to color. Coordinates are (0,0) = top left, (7,7) = bottom right. Colors are: 0 = black, 1 = red, 2 = green, 3 = yellow, 4 = blue, 5 = magenta, 6 = cyan, 7 = white</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>clear(color)</strong></div>
                                    <div class='col-md-6'>Set all the pixels to color.</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>pressed(key)</strong></div>
                                    <div class='col-md-6'>Check if key was just pressed. Keys are 'left', 'right', 'up', 'down', 'space'.</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>released(key)</strong></div>
                                    <div class='col-md-6'>Check if key was just released. Keys are 'left', 'right', 'up', 'down', 'space'.</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>held(key)</strong></div>
                                    <div class='col-md-6'>Check if key is currently held down. Keys are 'left', 'right', 'up', 'down', 'space'.</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-2'><strong>update(frame)</strong></div>
                                    <div class='col-md-6'>You provide this function, it will be called every frame in a loop. Parameter 'frame' increases by 1 each time the function is called.</div>
                                    <div class='row'><div class='col-md-8'>&nbsp;</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- GAME LIST -->
                    <div class='content' id='gameList' >
                        <div class="top_block toolBar">
                            <div class='col-xs-4'>
                                <input id='gameSearch' type='text' class='form-control input-sm' placeholder='Search' maxlength="32" />
                            </div>
                            <div class='col-xs-4'>
                                <button title='Ctrl-R' class='btn btn-sm btn-primary' onclick='createNewGame();'>New Game&nbsp;<i class='glyphicon glyphicon-star-empty'></i></button>
                                <button title='Ctrl-R' class='btn btn-sm btn-default' onclick='refreshGameList();'>Refresh&nbsp;<i class='glyphicon glyphicon-refresh'></i></button>
                            </div>
                        </div>
                        <div id='gameList'>
                            <div id='games'>
                                <table class='table outer'>
                                    <thead class='bg-primary'>
                                        <tr>
                                            <th width=15%>
                                            Game
                                            </th>
                                            <th width=35%>
                                            User
                                            </th>
                                            <th width=15%>
                                            Modified
                                            </th>
                                            <th width=15%>
                                            Created
                                            </th>
                                            <th width=20%>
                                            Rating
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id='results'>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background rightPane">
                <div class="content centered">
                    <iframe id='gameFrame' sandbox='allow-scripts allow-same-origin' src='/static/frame.html'>
                    </iframe>
                </div>
            </div>
            <div class="bottom_block statusBar">
                <div class="content">
                    <span><i id='spinner' class='glyphicon glyphicon-ok'></i>&nbsp;</span>
                    <span id='statusBar'>Welcome. Errors are shown here...</span>
                </div>
            </div>
        </div>
    </body>
</html>
