$def with (game_source, game_title)
<!DOCTYPE html>
<html lang='en'>
    <head>
        <style>
            body {
                margin: 16px;
                text-align: center;
                overflow: hidden;
                font: 20px sans-serif;
                font-weight: bolder;
            }
            div {
            }
        </style>
    </head>
    <body>
        $game_title<br><br>
        <canvas id='canvas' width='256px' height='256px'></canvas>
        <script type='text/javascript'>
            function ClientScript() {
                "use strict";
$:game_source
                this.updateFunction = (typeof update === "function") ? update : null;
            };
        </script>
        <script src='/static/8x8.js'></script>
    </body>
</html>
