html {
    margin: 0;
    min-width: 768px;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameFrame {
    border: none;
    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.mainmenu {
    padding-top: 10px;
}

#editor {
    margin: 0;
    padding: 0;
}

.errorLine {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

body .modal .modal-dialog {
  width: 25%;
}

#buttonActivity {
    box-shadow: 0px 0px 30px 15px #FFF;
}

.masked {
    display: none;
}

.bigga {
    min-width: 768px;
    overflow-x: hidden;
}

.toolbar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 100%;
    margin-right: 300px;
}

.whitestar {
    color: #CCC;
}

.statusError {
    color: red;
    font-weight: bold;
}

.yellowstar {
    color: #FC0;
}

.close.closeButton {
    color: white;
    opacity: 1;
}

.pane {
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#gamesheader {
    margin-right: 300px;
    background: magenta;
}

.table.outer.scrollable {
}

table.table {
    table-layout: fixed;
}

.clickable {
    cursor: pointer;
    background-color: #F5F5F5;
}

.clickable:hover {
    background-color: #E8E8E8;
}

.clickable[aria-expanded="true"] {
    background-color: #dff0d8;
}

.clickable[aria-expanded="true"]:hover {
    background-color: #d8e8d0;
}

.table.outer >tbody >tr >td {
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}

.table.outer >tbody >tr.hid > td {
    padding: 0;
}

.table.outer >tbody >tr.clickable:not(:last-child)  {
    border-bottom: 1px LightGrey solid;
}

.table>thead>tr>th{
    border-bottom: 1px LightGrey solid;
}

.table>tbody+tbody {
    border: 0;
}

.tableContainer {
    border-bottom: 1px LightGrey solid;
}

.table.inner {
    width: auto;
}

.table.inner >tbody >tr >td {
    border: none;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    font-size: small;
}

.table.inner >tbody >tr:first-child >td {
    padding-top: 6px;
}

.table.inner >tbody >tr:first-child >td.butter {
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

.table.inner >tbody >tr:last-child >td {
    padding-bottom: 8px;
}

.table {
    margin-bottom: 0px;
}

/* GRID LAYOUT */

.gly-spin {
    -webkit-animation:  spin 0.5s infinite linear;
    -moz-animation:     spin 0.5s infinite linear;
    -o-animation:       spin 0.5s infinite linear;
    animation:          spin 0.5s infinite linear;
}
@-moz-keyframes     spin {  000% { -moz-transform: rotate(000deg); }
                            100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes  spin {  000% { -webkit-transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes       spin {  000% { -o-transform: rotate(000deg); }
                            100% { -o-transform: rotate(359deg); } }

@keyframes          spin {  000% { -webkit-transform: rotate(000deg); transform: rotate(000deg); }
                            100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

.help-block.inline {
    display: inline;
}


.navbar-form.navbar-right.nomargin {
    margin: 0;
}

.gameinfo {
    min-height: 9em;
    margin: 10px;
}

.well.controls {
    margin: 0 auto;
    width: 256px;
}

.gametitle {
    text-align: center;
    display: block;
    position: relative;
    width: 256px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: white;
    padding: 1px;
}

.pane {
    overflow-x: hidden;
    overflow-y: auto;
}

.content.centered.player {
    width: 356px;
    height: 100%;
    overflow-x: hidden;
    border-left: 1px solid #E0E0E0;
}

.instructionsTextarea {
    display: block;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    padding: 1px;
    overflow: hidden;
    resize: none;
    border: 0;
    background: transparent;
}

.instructionsTextarea.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.gametitle.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.instructionsTextarea.editing {
    border-radius: 5px;
    background: white;
}

.gametitle.editing {
    border-radius: 5px;
    background: white;
}

.backdropper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #000;
    opacity: 0.666;
}


div#mainheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
}
div#mainfooter {
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
    height: 50px;
    border-top: 1px solid #DDD;
}
div#mainsidebar {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 300px;
    bottom: 50px;
    overflow: hidden;
}
div#maincontainer {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 300px;
    border-right: 1px solid #DDD;
    overflow-y: auto;
    overflow-x: hidden;
}

div#maincontent {
}

#editorPane {
    height: 400px;
}

.statusBar {
    margin-left: 20px;
    margin-top: 20px;
}

div#mainfooter.row {
    padding-top: 15px;
    padding-left: 40px;
}

#networkIndicator {
    width: 2em;
}