html {
    margin: 0;
    min-width: 768px;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameFrame {
    border: none;
    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#editor {
    margin: 0;
    padding: 0;
}

.centered {
    text-align: center;
}

.modal-dialog {
    min-width: 250px !important;
}

.modal-dialog.modal-x-small {
    width: 20%;
}

.modal-dialog.modal-small {
    width: 25%;
}

.modal-dialog.modal-medium {
    width: 35%;
}

.modal-dialog.modal-large {
    width: 50%;
}

.masked {
    display: none;
}

.toolbar {
    white-space: nowrap;
    padding: 10px;
    height: 50px;
    width: 100%;
    margin-right: 300px;
    overflow: hidden;
}

/* firefox float clear fix */

.toolbar>button {
    float: left;
    margin-right: 10px;
}

#gameSearch {
    display: inline-block;
    width: 20em;
}

.statusError {
    color: red;
    font-weight: bold;
}

.whitestar {
    color: #CCC;
}

.yellowstar {
    color: #FC0;
}

.help-block.inline {
    display: inline;
}

.navbar-form.navbar-right.nomargin {
    margin: 0;
}

.controls {
    margin: auto;
    width: 256px;
}

.gametitle {
    text-align: center;
    display: block;
    position: relative;
    width: 256px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: white;
    padding: 1px;
}

#byline {
    margin-left: 25px;
    width: 256px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.instructionsTextarea {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    padding: 1px;
    overflow: hidden;
    resize: none;
    border: 0;
    background: transparent;
}

.instructionsTextarea.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.gametitle.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.instructionsTextarea.editing {
    border-radius: 5px;
    background: white;
}

.gametitle.editing {
    border-radius: 5px;
    background: white;
}

.backdropper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #000;
    opacity: 0.666;
    display: none;
}


div#mainheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div#mainsidebar {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 300px;
    bottom: 0px;
    overflow: auto;
    border-left: 1px solid #e7e7e7;
}

div#mainfooter {
    position: absolute;
    bottom: 0;
    right: 300px;
    left: 0px;
    height: 30px;
    border-top: 1px solid #e7e7e7;
    margin-right: 0;
}

div.maincontainer {
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 300px;
}

div#gameslist {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

div#editorContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

div#helpcontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

div#homecontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.statusBar {
    margin-left: 10px;
    margin-top: 5px;
}

div#mainfooter.row {
    padding-top: 5px;
    padding-left: 30px;
}

#networkIndicator {
    width: 2em;
}

#ratingBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.linky {
    cursor: pointer;
}

#framerateButton {
    margin-top: 10px;
}

pre.helpcode {
    background: white;
    color: darkred;
}

.shareblock {
    margin-bottom: 10px;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: white;
}

.flex-item {
    margin: 10px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 200px;
    min-width: 200px;
    height: 160px;
    overflow: hidden;
    background: white;
    border: 1px solid #CCC;
    position: relative;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

.dropshadow {
    box-shadow: 2px 2px 20px 1px #EEE;
}

.game-title {
    font-weight: bolder;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.game-username {
    font-weight: lighter;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.game-screenshot {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.game-buttons {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.game-rating {
    margin-top: 4px;
    text-align: center;
}

a[disabled='disabled'] {
    cursor: not-allowed;
}

div#social>a>i.fa.fa-2x.fa-facebook-square[disabled='disabled']:hover,
div#social>a>i.fa.fa-2x.fa-facebook-square[disabled='disabled'],
div#social>a>i.fa.fa-2x.fa-twitter-square[disabled='disabled']:hover,
div#social>a>i.fa.fa-2x.fa-twitter-square[disabled='disabled'] {
    color: #337ab7;
}

.gameLink:hover {
    cursor: pointer;
}

#editorOptionsForm > .row {
    margin-left: 40px;
}