<div class='maincontainer'>
    <div class='toolbar'>
        <button class='btn btn-sm btn-default'
                id='refreshButton'
                ng-click='refreshGameList()'>
            <i class='fa fa-refresh'></i>
        </button>
        <a class='btn btn-sm btn-primary' href='/edit/new'>
            New Game
        </a>&nbsp;
        <input
                id='gameSearch'
                type='text'
                class='form-control input-sm horizinput'
                placeholder='Search'
                maxlength=32 />
    </div>
    <div id='gameslist'>
        <div class='flex-container'>
            <div ng-repeat='g in games'
                    class='flex-item gameLink dropshadow'
                    ng-click='playIt($event, g.game_id)'
                    ng-mousedown='clicked($index)'
                    ng-mouseleave='unclicked($index)'
                    ng-mouseup='unclicked($index)'
                    id='game_{{$index}}'>
                <div class='game-title'>{{g.game_title}}</div>
                <div class='game-username'>by {{g.user_username}}</div>
                <div class='game-rating'>
                    <i ng-repeat='i in [1,2,3,4,5]' class='{{star(i, g)}}star fa fa-star'></i>
                </div>
                <div class='game-screenshot'>
                    <img id="screen_{{g.game_id}}"
                            ng-src='{{screenshot(g)}}'
                            width='64'
                            height='64' />
                    </div>
                <div class='game-buttons'>
                    <a class='btn btn-default' ng-click='editIt($event, g.game_id)'>
                        <i class='fa fa-pencil'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
