<div class="modal-header">
    <button type="button" class="close" ng-click='cancel()'><span>&times;</span></button>
    <h4 class="modal-title">Settings for {{settings.game_title}}</h4>
</div>
<div class="modal-body">
    <form name="editorOptionsForm" novalidate>
        <div class='form-group'>
            <label for='speedButton'>Speed</label>
            <div class="btn-group">
                <button type="button" name='speedButton' class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover='dropdown'>
                    {{frameratenames[settings.game_framerate]}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="f in frameratenames"><a style='cursor: pointer;' ng-click='setFramerate($index);'>{{f.toString()}}</a></li>
                </ul>
            </div>
        </div>
        <div class='form-group'>
            <label for='game_instructions'>Instructions</label>
            <textarea rows='6' ng-model='settings.game_instructions' name='game_instructions' maxlength="240" class="form-control" placeholder="Tell them how to play!" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
