<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title">{{details.dialogTitle}}</h4>
</div>
<form name="registerForm" ng-submit='handleRegister()' novalidate>
    <div class="modal-body">

        <!-- username -->
        <div class='form-group' ng-class="{'has-error': registerForm.username.$invalid && !registerForm.username.$pristine }">
            <label for='username'>Username</label>
            <span ng-cloak ng-show='registerForm.username.$invalid && !registerForm.username.$pristine'
                    class='help-block inline'> must be at least 3 characters</span>
            <input type='text'
                    name="username"
                    id='username'
                    class='form-control'
                    required
                    minlength='3'
                    ng-model='details.username'/>
        </div>

        <!-- email -->
        <div class='form-group' ng-class="{'has-error': registerForm.email.$invalid && !registerForm.email.$pristine }">
            <label for='email'>Email</label>
            <span ng-cloak ng-show='registerForm.email.$invalid && !registerForm.email.$pristine'
                    class='help-block inline'> Please enter a valid email</span>
            <input type='email'
                    name="email"
                    class='form-control'
                    required
                    ng-model='details.email'/>
        </div>

        <!-- old password -->
        <div class='form-group'
                ng-show='details.editingProfile'
                ng-class="{'has-error': registerForm.oldpassword.$invalid && !registerForm.oldpassword.$pristine }">
            <label for='oldpasswordInput'>Current Password</label>
            <span ng-cloak ng-show='registerForm.oldpassword.$invalid && !registerForm.oldpassword.$pristine'
                    class='help-block inline'> must be at least 6 characters</span>
            <input type='password'
                    name='oldpassword'
                    class='form-control'
                    minlength='6'
                    ng-required='details.editingProfile'
                    ng-model='details.oldpassword' />
        </div>

        <div class='form-group ng-cloak' ng-cloak ng-hide='!details.failed'>
            <label for='resetpwd'>Incorrect password. Forgotten it?</label>
            <div>
                <button name='resetpwd'
                        type='button'
                        class='btn btn-sm btn-danger'
                        ng-click='resetpw()'>Reset it</button>
            </div>
        </div>

        <div ng-cloak ng-hide='!details.editingProfile'>
            <div class='form-group'>
                <label><input type='checkbox' ng-model='details.changePassword' /> Change password</label>
            </div>
            <!-- password 1 -->
            <div class='form-group'
                    ng-show='!details.editingProfile || details.changePassword'
                    ng-class="{'has-error': registerForm.password.$invalid && !registerForm.password.$pristine }">
                <label for='passwordInput'>{{details.newPasswordTitle}}Password</label>
                <span
                    ng-show='registerForm.password.$invalid && !registerForm.password.$pristine'
                    class='help-block inline'> must be at least 6 characters</span>
                <input type='password'
                        name='password'
                        class='form-control'
                        minlength='6'
                        ng-required='details.changePassword'
                        ng-model='details.password' />

            </div>
            <!-- password 2 -->
            <div class='form-group'
                    ng-show='!details.editingProfile || details.changePassword'
                    ng-class="{'has-error': (registerForm.password2.$invalid || !passmatch()) && !registerForm.password2.$pristine }">
                <label for='password2'>Confirm {{details.newPasswordTitle}}Password</label>
                <span
                    ng-show='(registerForm.password2.$invalid || !passmatch()) && !registerForm.password2.$pristine'
                    class='help-block inline'> (must match the first one)</span>
                <input type='password'
                        name='password2'
                        class='form-control'
                        minlength='6'
                        ng-required='details.changePassword'
                        ng-model='details.password2'/>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-cloak>
        <span ng-show='registrationInProgress'><i id='spinner' class='netspin pull-left fa fa-spinner fa-pulse'></i>&nbsp;</span>
        <span ng-show='registerForm.$invalid || !passmatch() || details.failed' class='pull-left'>
            {{message}}
        </span>
        <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="registerForm.$invalid || registrationInProgress">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-disabled='registrationInProgress'>Cancel</button>
    </div>
</form>
